.cen {
    text-align: center;
    padding-bottom: 5%;
}

.H2 {
    color: rgb(60, 38, 83);
    font-size: 250%;
    margin-bottom: 4%;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.H3 {
    color: rgb(81, 7, 95);
    font-size: 150%;
    margin-bottom: 4%;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.allcollapsed {
    width: 74%;
    margin: 1% auto;
    box-shadow: 0px 0px 4px 1px black;
    background-color: rgba(113, 114, 160, 0.1);
}

.collapsed {
    background-color: rgba(113, 114, 160, 0.7);
    cursor: pointer;
}

.slide-fade-enter-active {
    transition: all 1s ease;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}

.save {
    margin: 4% auto -2% auto;
    border-bottom-right-radius: 40px;
}