        .cen {
            background-color: rgb(255, 255, 255);
        }
        
        .flu {
            width: 75%;
            box-shadow: 0px 0px 5px 0px black;
            margin: 1% auto;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        
        .flu input {
            border: none;
            border-bottom: 2px solid rgb(24, 95, 50);
            border-radius: 0px;
            width: 99%;
        }
        
        .Sign {
            position: relative;
            left: 45%;
            top: 0%;
            width: 60%;
        }
        
        .buttonofSign {
            position: relative;
            left: 45%;
            top: 0%;
            background-color: white;
            color: black;
            box-shadow: 0px 0px 5px 0px black;
            width: 40%;
        }
        
        .alert {
            text-align: center;
            position: relative;
            top: -100px;
        }